
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* padding-left: 55px; */
}
/* a:hover {
  color: yellow;
} */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 17vh;
  background: rgb(0, 0, 0);
  padding-right: 10rem;
}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

#img {
  padding-left: 40px;
  max-width: 100%;
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#img1 {
  max-width: 20%;
}
.st {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.st a{
  color: white;
  text-decoration: none;
}
.st a:hover{
  color: yellow;
}
.nav__item a {
  padding-top: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-left: 20px;
}
.nav__item a:hover {
  color: yellow;
}
#logout:hover {
  color: rgb(255, 0, 0);
}
@media  (max-width: 900px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 100vh;
    width: 50vw;
    background: black;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 999;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
