.body {
  height: 100vh;
  width: 100%;
  background-image: url(https://img3.goodfon.com/wallpaper/nbig/b/68/chernyy-belyy-adidas.jpg);
  background-color: rgb(0, 0, 0);
  box-shadow: 1px 1px floralwhite;
  background-size: 1100px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  height: 350px;
  width: 300px;
  background-color: transparent;
  /* border: 2px solid white; */
  box-shadow: inset 4px 4px 5px rgba(255, 255, 255, 0.1),
    inset -4px -4px 5px rgba(0, 0, 0, 0.1), 10px 40px 40px rgba(0, 0, 0, 0.1);
}
.card h1 {
    margin-top: 30px;
  color: rgb(251, 251, 251);
}
.input {
  background-color: rgb(0, 0, 0);

  margin: 20px;
  height: 20px;
  width: 70%;
  border: none;
  border-bottom: 1.5px solid rgb(255, 255, 255);
  outline: none;
  color: rgb(255, 255, 255);
}
::placeholder {
  color: aliceblue;
  -ms-transform-origin-y: -2;
}

.button {
  color: rgb(89, 87, 87);
  margin-top: 20px;
  height: 40px;
  width: 50%;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 1px cyan, 0 0 1px cyan;
}
.button:hover {
    box-shadow: 0 0 5px white, 0 0 25px white, 0 0 5px white, 0 0 10px white,
    0 0 10px cyan;

  color: rgb(89, 87, 87);
}
.login {
  position: relative;
  top: 10px;
  color: aliceblue;
  /* text-shadow:0 0 2px white ; */
  text-decoration: none;
}
#google{
  height: 30px;
  width: 30px;
  margin: auto; 
  margin-top: 14px;
  margin-bottom: 0px;
  
}
#google img{
  height: 30px;
  cursor: pointer;
}